{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Statistics | Checkpoint{% endblock title %}

{% block content %}
    <div class="topPadding">
        <div class="container">
            <div class="row">
                <ul class="list-group ">
                {% for k, v in driverCount.items %}
                    <li class="list-group-item">{{ k }} <span class="badge">{{ v }}</span></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}