{% extends "base.html" %}

{% block title %}table | Checkpoint{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>List of records:</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>vehicleNumber</th>
                    <th>driver</th>
                    <th>cargo</th>
                    <th>time</th>
                    <th>recordedBy</th>
                </tr>
            </thead>
            <tbody>
            {% for record in Records %}
                <tr>
                    <td>{{ record.vehicleNumber }}</td>
                    <td>{{ record.driver }}</td>
                    <td>{{ record.cargo }}</td>
                    <td>{{ record.time| date:'H:i d/m/Y' }}</td>
                    <td>{{ record.recordedBy }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}